<!DOCTYPE html>
<html lang="en">
  <head>
  <title>student form</title>

  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="angular-validation-match.min.js"></script>
</head>
  <body>
   <div data-ng-app="myApp">
    <form name="myForm">
          <hr />
        Password: <input ng-model="user.password" type="password" name="password" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" />
        Confirm: <input ng-model="user.passwordConfirm" type="password" data-match="user.password" name="confirmPassword" />
        <div data-ng-show="myForm.confirmPassword.$error.match">Passwords do not match!</div>
    </form>
    <hr />
   
</div>
  </body>
</html>