<!DOCTYPE html>
<html lang="en">
  <head>
  <title>login form</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="angular-route.min.js"></script> 

  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <script type="text/javascript" src="app.js"></script>

</head>
  <body ng-app="mainApp" ng-controller="myCtr">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-4 col-xs-12">
            <section>       
                <div id="container_demo" >
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="profile.html"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label> Your User Name </label>
                                    <input name="user"  ng-model="user.name"required type="text" placeholder="user name" class="form-control"/>
                                </p>
                                <p> 
                                    <label> Your password </label>
                                    <input name="password" ng-model="user.password"required type="password" placeholder="eg. X8df!90EO" class="form-control"/> 
                                <p class="login button"> 
                                    <input type="submit" value="Login" ng-click="submitLogin()"/> 
                                </p>
                            </form>
                        </div>
            
                    </div>
                </div>  
            </section>
        </div>
      </div>
      <div class="col-md-4 col-xs-0"></div>
    </div>
</body>
</html>