
                        <div class="register">
                         <p  style="font-size: 1.9em;text-align: center;color: black;font-weight: bold;">Change Password</p>
                        <form name="passwordForm" ng-submit="submitForm()" novalidate>

                              <div class="form-group">
                                <label >Old Password</label>
                                <input type="password" name="oldpassword" ng-model="password.oldpassword"></input>
                              </div>
                              <div class="form-group"> 
                                  <label >New Password</label>
                                  <input type="password" name="newpassword"ng-model="password.newpassword" ng-minlength="8" required>
                                                  <br>  <span style="color:red" ng-show="passwordForm.newpassword.$error.minlength">
                                                          <i>Your password Should Contain Atleast 8 Characters<i></span>
                           </div>

                          <div class="form-group">
                              <label >Repeat Password</label>
                              <input type="password" name="repeatpassword"ng-model="password.repeatpassword" ng-minlength="8" required>
                               <br>  <span style="color:red" ng-show="passwordForm.repeatpassword.$error.minlength">
                                                          <i>Your password Should Contain Atleast 8 Characters<i></span>
                                <i id="validitionMsg"style="color:red;padding-left:150px;">{{msg}}</i>
                          </div>

                          <div>
                              <label></label>
                              <input type="submit" value="Submit" class="button "ng-disabled="passwordForm.newpassword.invalid"/>

                          </div>
                        </form>
                       
                        </div>
